<div class="padded-md">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2 class="text-center txt-bold">Create a workshop</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <div class="border-form margin-top-sm form-height-width-xs background-metal">
          <div class="background-form top-right-form border-metal">
            <%= simple_form_for(@workshop) do |f| %>
              <%= f.error_notification %>

              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :price %>
              <%= f.input :photos, as: :attachinary %>

              <div class="form-actions text-center">
              <%= f.button :submit %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

