<!-- BANNER -->
<%= render 'shared/universe_photo' %>

<div class="banner-bk-gray banner-height">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h1 class="padded-top-lg"><%= @universe.name %> workshops</h1>
      </div>
    </div>
</div>


<div class="container">
  <% @jobs.each do |job| %>
    <h3 class="padded-lg" id="<%= job.name %>">
      <%= job.name %>
    </h3>
      <div class="row">
    <% job.workshops.each do |wksp| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-index">
            <div class="card-img">
            <!-- workshop_pic -->
              <%= cl_image_tag workshop_pic(wksp), height: 150, width: 358, crop: :fill, style: "background: rgba(0.3,36,61,0.9)" %>
              <div class="col-xs-12 text-center craftman-name">
                <p class="roboto txt-gras white"><%= wksp.craftman.first_name.capitalize %></p>
                <p class="roboto txt-gras white"><%= wksp.craftman.last_name.capitalize %></p>
              </div>
            </div>
            <div class="card-block">
              <p class="card-title roboto txt-gras txt-md text-uppercase"><%= wksp.title %></p>
              <p class="roboto txt-description txt-light padded-bottom-m"><%= wksp.description[0..80] %>...</p>
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="upper-line"><hr></div>
                    <h6 class="txt-regular">Where</h6>
                  </div>
                  <div class="col-md-9">
                    <div class="upper-line-left"><hr></div>
                    <h6 class="txt-light"><%= wksp.craftman.address %></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="upper-line"><hr></div>
                    <h6 class="txt-regular">Price</h6>
                    <div class="final-line"><hr></div>
                  </div>
                  <div class="col-md-9">
                    <div class="upper-line-left"><hr></div>
                    <h6 class="txt-light"><%= wksp.price.to_i %>€/day</h6>
                    <div class="final-line-left"><hr></div>
                  </div>
                </div>
              </div>
              <div class="text-center card-index-button">
                <%= link_to "DETAILS", workshop_path(wksp), class: "btn btn-lg btn-default" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
      </div>
  <% end %>
</div>





