<!-- BANNER -->
<%# render 'shared/universe_photo' %>
<div class="container-fluid">
  <div class="row">
    <div class="banner-photo-workshop"
    style="background-image: url(<%= @universe.banner.fullpath %>)">
    </div>
  </div>
</div>


  <!-- Carde blanche de titre de workshop -->
  <div class="information">
    <div class="workshop-card">
      <div class="left">
        <h2 class="roboto"><%= @workshop.title %></h2>
        <div class="txt-light padded-top-xs">by <%= @craftman.first_name %> <%= @craftman.last_name.capitalize %></div>

        <div class="txt-light"> <%= link_to "#{@workshop.universe.name}", universe_path(@workshop.universe), class: "text-uppercase link-back" %> > <%= link_to "#{@workshop.craftman.job.name}", universe_workshops_path(@workshop.universe, anchor: @workshop.craftman.job.name), class: "link-back" %> </div>
      </div>
      <div class="right">
        <%= link_to "Contact the craftsman", new_workshop_message_path(@workshop), class: "btn btn-black" %>
      </div>
    </div>
  </div>

<!-- THE WORKSHOP -->

<div class="container-fluid">
  <div class="workshop-description padded-bottom-lg">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="vertical-lines0" id="line-center"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="trait">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="color-line-title-wood text-left padded-top-md">
            <hr>
          </div>
          <!-- <h2>the</h2> -->
          <h2 class="padded-bottom-lg">The workshop</h2>
        </div>
      </div>
    </div>


    <div class="row">

      <!-- Tableau DETAILS workshop -->
      <div class="col-md-3 col-xs-offset-2">

        <!-- 1ère ligne ARTISAN -->
        <div class="row">
          <div class="col-sm-3">

            <p class="txt-sm txt-regular chivo padded-top-sm ">Craftsman</p>
          </div>
          <div class="col-sm-9">

            <p class="txt-sm txt-light chivo padded-top-sm"><%= @workshop.craftman.first_name.capitalize %> <%= @workshop.craftman.last_name.capitalize %></p>
          </div>
        </div>

        <!-- 2ème ligne / TECHNIQUES -->
        <div class="row">
          <div class="col-md-3">
            <div class="upper-line"><hr></div>
            <p class="txt-sm txt-regular chivo">Skills</p>
          </div>
          <div class="col-md-9">
            <div class="upper-line-left"><hr></div>
            <p class="txt-sm txt-light chivo"><%= @workshop.skills %></p>
          </div>
        </div>

        <!-- 3ème ligne / PRICE -->
        <div class="row">
          <div class="col-md-3">
            <div class="upper-line"><hr></div>
            <p class="txt-sm txt-regular chivo">Price</p>
          </div>
          <div class="col-md-9">
            <div class="upper-line-left"><hr></div>
            <p class="txt-sm txt-light chivo">from <%= @workshop.price.to_i %> €/day</p>
          </div>
        </div>

        <!-- Dernière ligne / WHERE -->
        <div class="row">
          <div class="col-md-3">
            <div class="upper-line"><hr></div>
            <p class="txt-sm txt-regular chivo">Where</p>

          </div>
          <div class="col-md-9">
            <div class="upper-line-left"><hr></div>
            <p class="txt-sm txt-light chivo"><%= @workshop.craftman.locality %></p>

          </div>
        </div>


        <!-- mini map -->
        <div class="padded-md">
          <div id="map" style="width: 300px; height: 300px;"></div>

          <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({
                  provider: {
                    styles: Diwyh.map_styles
                    // possibility to pass other gmap options here
                  },
                  internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
            </script>
          <% end %>
        </div>

      <!-- Fin du tableau de détails -->
      </div>

      <!-- Description workshop -->
      <div class="col-md-5 margin-left">
        <h4 class="no-margin-top no-padding-top">in a nutshell</h4>
        <p class="txt-light"><%= @workshop.description %></p>
        <h4 class="no-margin-top no-padding-top">features</h4>
        <ul class="txt-light">
         <li>build a shell structure with a polyurethane finish effect</li>
         <li>learn Body how to fully upholstered the seat</li>
         <li>9 different wood base selected</li>
         <li>match Lacquered wooden legs with Polyurethane seat options</li>
         <li>make the assembly manually</li>
         <li>design and create all the tenon joints</li>
         <li>prototype your Custom Fabric Options</li>
         <li>initiation to sculpt animals charachters on chair feets</li>
        </ul>
      </div>

    </div>
  </div>
<!-- Fin de container -->
</div>


<!-- PHOTO ATELIER -->
<section id="hero2" class="hero" style="background-image: url('<%= cl_image_path @workshop.photos.first.path %>');">
  <div class="inner">
    <div class="copy">
      <h2 class="white roboto">Meet <%= @craftman.first_name %> <%= @craftman.last_name.capitalize %> </h2>
      <p>Learn with passion</p>
    </div>
  </div>
</section>


<!-- PHOTOS -->
<!-- <div class="container-fluid">
  <div class="photos-group">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">

        <div id="myAffix">
          <div class="row sm-gutter padded-top-xs">
            <div class="col-sm-12"> -->
              <%# image_tag @workshop.universe.top_gallery.fullpath, height: 150, crop: :fill %>
            <!-- </div>
          </div>
        </div>
        <div class="row sm-gutter padded-top-xs">
          <div class="col-sm-8">
            <%# image_tag @workshop.universe.middle_gallery.first.fullpath, height: 400, crop: :fill %>
          </div>
          <div class="col-sm-4">
            <%# image_tag @workshop.universe.middle_gallery.last.fullpath, height: 400, crop: :fill %>
          </div>
        </div>
        <div class="row sm-gutter padded-top-xs">
          <div class="col-sm-12 col-md-4">
            <%# image_tag @workshop.universe.gallery[0].fullpath %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%# image_tag @workshop.universe.gallery[1].fullpath %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%# image_tag @workshop.universe.gallery[2].fullpath %>
          </div>
        </div>

      </div>
    </div>
  </div> -->



  <!-- ARTISAN -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <div class="color-line-title-wood text-left padded-top-lg">
        <hr>
      </div>
      <h2 class="padded-bottom-lg">The craftsman</h2>

      <div class="row">
        <div class="col-xs-6">
          <p class="txt-light"> <%= @workshop.craftman.description %> </p>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
          <div class="">
            <%= cl_image_tag @workshop.craftman.avatar.path, height: 350, width: 500, crop: :fill, class: "image-pepe" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 col-xs-offset-1 text-center">
          <h4>“There is a magical, contemplative feeling in the forest.”</h4>
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <%= image_tag @workshop.universe.artisan_hands.fullpath, height: 200, width: 200, crop: :fill %>
        </div>
      </div>
  </div>
</div>



  <!-- BUTTON -->
  <div class="text-center padded-top-lg padded-bottom-lg">
    <%= link_to "Contact #{@workshop.craftman.first_name} #{@workshop.craftman.last_name}",
    new_workshop_message_path(@workshop), class: "btn-wood text-uppercase" %>
  </div>



  <!-- REVIEWS -->
  <div class="reviews padded-bottom-lg">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="padded-lg">
          <h3>Reviews</h3>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4 padded-sm">
            <div class="card-white">
              <div class="card-white-quote">
                <p class="txt-xl">“</p>
              </div>
              <div>
                <p class="txt-description txt-light text-center">This workshop confirmed I like working with wood. It is a perfect way of artistic expression for me. I plan to go to another one.</p>
              </div>
              <div class="color-line text-right">
                <hr>
              </div>
              <div>
                <h4 class="txt-description txt-bold text-right">Kévin</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 padded-sm">
            <div class="card-white">
              <div class="card-white-quote">
                <p class="txt-xl">“</p>
              </div>
              <div>
                <p class="txt-description txt-light text-center">I had a very good time creating and making my own furniture. I didn't know I was able to do such an amazing piece.</p>
              </div>
              <div class="color-line text-right">
                <hr>
              </div>
              <div>
                <h4 class="txt-description txt-bold text-right">Loic</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 padded-sm">
            <div class="card-white">
              <div class="card-white-quote">
                <p class="txt-xl">“</p>
              </div>
              <div>
                <p class="txt-description txt-light text-center">What a workshop! I specifically recommand you to live this awesome experience. The piece I made is a great souvenir.</p>
              </div>
              <div class="color-line text-right">
                <hr>
              </div>
              <div>
                <h4 class="txt-description txt-bold text-right">Odaia</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- OTHER WORKSHOPS -->
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="padded-lg">
        <h3>Other workshops with <%= @workshop.craftman.first_name %> <%= @workshop.craftman.last_name %></h3>
      </div>
    </div>

    <!-- Other workshops from this craftsman -->
    <div class="row">
    <div class="margin-end-page">
      <% @workshop.craftman.workshops.each do |wksp| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-index">
              <div class="card-img img-fluid" style="background-size: cover !important;background-image: url('<%= image_url workshop_pic(wksp), height: 200, crop: :fill %>');">
              </div>
              <div class="card-block">
                <p class="card-title roboto txt-gras txt-md text-uppercase"><%= wksp.title %></p>
                <p class="roboto txt-description txt-light padded-bottom-m"><%= wksp.description[0..80] %>...</p>
                <div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="upper-line"><hr></div>
                      <h6 class="txt-regular roboto">Where</h6>
                    </div>
                    <div class="col-md-9">
                      <div class="upper-line-left"><hr></div>
                      <h6 class="txt-light roboto"><%= wksp.craftman.locality %></h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="upper-line"><hr></div>
                      <h6 class="txt-regular roboto">Price</h6>
                      <div class="final-line"><hr></div>
                    </div>
                    <div class="col-md-9">
                      <div class="upper-line-left"><hr></div>
                      <h6 class="txt-light roboto"><%= wksp.price.to_i %>€/day</h6>
                      <div class="final-line-left"><hr></div>
                    </div>
                  </div>
                </div>
                <div class="text-center card-index-button">
                  <%= link_to "DETAILS", workshop_path(wksp), class: "txt-light btn btn-lg btn-black" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    </div>
  </div>

<!-- Fin de container -->
</div>

<div id="white-margin"></div>



<!-- TITLE -->
<% content_for(:title_tag) do %>
  <%= @workshop.title %> with <%= @workshop.craftman.first_name %> <%= @workshop.craftman.last_name %>
<% end %>

<% content_for :meta_title, "#{@workshop.title} with #{@workshop.craftman.first_name} #{@workshop.craftman.last_name}" %>
<% content_for :meta_description, @workshop.description %>
<%# content_for :meta_image, cloudinary_url(@workshop.photos.first.path) %>
