 <li class="message <%= side = message.user_left_right %> appeared">
  <% if side == "right" %>
     <%= image_tag user_avatar(current_user), class: "avatar" %>
  <% else %>
    <%= image_tag craftman_avatar(message.craftman), class: "avatar" %>
  <% end %>
  <div class="text_wrapper">
    <div class="text">
      <p><%= message.content %></p>
      <% if message.date_checkin %>
        <p style="font-size: 12px;">Workshop asked from <%= message.date_checkin %> to <%= message.date_checkout %> </p>
      <% end %>
    </div>
  </div>
</li>

