<!-- wrapper -->
<div class="wrapper margin-verti-fat">
  <!-- container texte and photo -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 final-line-left hr">
      <!-- colonne text -->
       <div class="">
       <!-- caracteristiques -->
        <h2 class="txt-md txt-heavy padded-md"><%= @booking.workshop.title %></h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-description">Craftman</p>
             <p class="txt-description">telephon</p>
             <p class="txt-description">Address</p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-description txt-bold"><%= @craftman.first_name + " " + @craftman.last_name %></p>
             <p class="txt-description txt-bold">
               <% if @craftman.phone != nil %>
                <%= @craftman.phone %>
               <% else %>
                <%= "-" %>
               <% end %>
             </p>
             <p class="txt-description txt-bold"><%= @craftman.address %></p>
           </div>
        </div>
        <div class="padded-ri">
          <hr style="height:1px;" />
        </div>
       </div>

       <div class="">
        <!-- résa -->
        <h2 class="txt-md txt-heavy padded-md">Reservation dates</h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-sm">Start</p>
             <p class="txt-bold"><%= @booking.date_check_in %></p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-sm">End</p>
             <p class="txt-bold"><%= @booking.date_check_out %></p>
           </div>
        </div>
        <div class="padded-ri">
          <hr style="height:1px;" />
        </div>
       </div>

       <div class="">
       <!-- prix -->
        <h2 class="txt-md txt-heavy padded-md">Price</h2>
        <div class="row">
           <div class="col-xs-6 col-md-6">
             <p class="txt-description">Total price</p>
             <p class="txt-description">Caution</p>
           </div>
           <div class="col-xs-6 col-md-6">
             <p class="txt-description txt-bold"><%= @booking.total_price  %> €</p>
             <p class="txt-description txt-bold"><%= @booking.total_price * 2  %> €</p>
           </div>
        </div>
        <div class="padded-ri">
          <hr style="height:1px;" />
        </div>

        <!-- container button -->
         <div class="row">
          <div class="col-xs-6 col-md-6 text-right">
             <div id="btn-conf-booking" class="padded-full-lg">
               <%= simple_form_for @booking, url: accept_booking_path(@booking) do |f| %>
               <%= f.input :date_check_in, as: :hidden %>
               <%= f.input :date_check_out, as: :hidden  %>
               <%= f.submit "ACCEPT", class: "btn btn-default " %>
               <% end %>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div id="btn-conf-booking" class="padded-full-lg">
               <%= simple_form_for @booking, url: reject_booking_path(@booking) do |f| %>
               <%= f.input :date_check_in, as: :hidden %>
               <%= f.input :date_check_out, as: :hidden  %>
               <%= f.submit "REJECT", class: "btn btn-default " %>
               <% end %>
             </div>
          </div>
        </div>
       </div>

      </div>

      <div class="col-xs-12 col-md-6">
      <!-- photo -->
       <div class="adaptation-photo text-center" >
         <% if @workshop.artisan_pic.blank? %>
           <%= image_tag("http://placehold.it/600x550") %>
         <% else %>
           <%= cl_image_tag @workshop.artisan_pic.path, width: 600, height: 600, crop: :crop %>
         <% end %>
       </div>
      </div>

    </div>
  </div>
</div>
