<div class="padded-md">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2 class="txt-bold text-center">Your Profile</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <div class="border-form margin-top-sm form-height-width-small" style="background-size: cover !important;background-image: url('<%= image_url "glass.jpg" %>');">
          <div class="background-form top-left-form border-color">
            <%= simple_form_for @user, url: edit_profile_path do |f| %>
              <%= f.error_notification %>


            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :phone %>
            <%= f.input :description %>
            <%= f.input :avatar, as: :attachinary %>

              <div class="form-actions text-center">
                <%= f.button :submit, "Update your profile" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

