<!-- black header  -->
<div class="title banner-bk-gray-small">
   <div class="row">
     <div class="col-xs-12 col-xs-offset-1">
       <h1 class="padded-md-ds first-name-balise">Hello <%= @user.first_name %></h1>
     </div>
   </div>
</div>

<div class="container">
  <div class="row">


        <!-- first column  -->
        <div class="col-xs-12 col-sm-4 padded-top-md ">
          <div class="container-pic">
            <div class="text-center dashboard-pictures">
            <!-- profil pic bloc  -->
              <%= image_tag 'marbre.jpg', height: 150, width: 150, crop: :fill, class: "marble" %>
               <% if current_user.avatar? %>
                <%= cl_image_tag current_user.avatar.path, height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% elsif current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url,height: 150, width: 150, crop: :fill, class: "profil-pic"%>
               <% else %>
                <%= image_tag "loic.png", height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% end %>
            </div>

            <!-- usernames  -->
            <div class="txt-md txt-light text-center padded-top">
              <h3><%= @user.first_name %></h3>
            </div>

            <div class="txt-md txt-light text-center">
              <h3><%= @user.last_name %></h3>
            </div>
             <!-- button -->
            <div class="text-center">
               <%= link_to "Edit profile", edit_profile_path, class: "btn btn-default margin-md" %>
            </div>
          </div>
        </div>



        <!-- Second column  -->
        <div class="col-xs-12 col-sm-8">
          <!-- quotations  -->
          <div class="container-quotation">
            <div class="row">
              <div class="col-xs-12 col-sm-12">

                <div class="color-line-wood text-left bar-size-sm"><hr></div>
                <h4 class="txt-md txt-heavy no-margin-top">quotations</h4>

                   <% if @user.bookings != nil %>

                      <% @user.bookings.all.each_with_index do |booking, index| %>
                        <%= link_to edit_booking_path(booking) do %>
                        <div class="dash_item padded-sm quotation-text txt-light">
                          <div class="row">

                            <div class="col-xs-1">
                              <%= "##{index + 1}" %>
                            </div>

                            <div class="col-xs-7">
                              <%= "for : #{booking.workshop.title}"
                              %>
                              <%= "/ from #{booking.workshop.craftman.first_name}"
                              %>
                            </div>

                            <div class="col-xs-3 quotation-text text-right no-padding txt-light">
                              <% if booking.status == "submitted" %>
                                <p>pending</p>
                              <% elsif booking.status == "accepted" %>
                                <p>accepted</p>
                              <% else %>
                                <p>rejected</p>
                              <% end %>
                            </div>

                            <div class="col-xs-1">
                              <% if booking.status == "submitted" %>
                                <div class="orange-circle"></div>
                              <% elsif booking.status == "accepted" %>
                                <div class="green-circle"></div>
                              <% else %>
                                <div class="red-circle"></div>
                              <% end %>
                            </div>

                          </div>

                        </div>
                        <% end %>
                      <% end %>
                   <% else %>
                     <div class="dash_item text-center">
                       <p class="txt-light">No quotation yet</p>
                     </div>
                   <% end %>
              </div>
            </div>
          </div>

          <!-- messages  -->
          <div class="container-mess">
            <div class="row">
              <div class="col-xs-12 col-sm-12 quotation-text">

                <div class="color-line-wood text-left bar-size-sm"><hr></div>
                <h4 class="txt-md txt-heavy no-margin-top">messages</h4>

                 <% if @threads == nil %>
                    <div class="quotation_item padded-sm quotation-text txt-light">
                      <p class="txt-light">No conversation yet</p>
                    </div>
                 <% else %>
                    <% @threads.each do |(workshop, user), message| %>
                      <%= link_to workshop_messages_path(workshop, user) do %>
                        <div class="dash_item padded-sm quotation-text txt-light">
                          <%= "#{workshop.title} with #{workshop.craftman.first_name}"
                          %>
                        </div>
                      <% end %>
                    <% end %>
                 <% end %>

              </div>
            </div>
          </div>

          <!-- workshops tabs  -->

          <div class="row">
            <div class="col-xs-12 col-sm-12 padded-top-md">

              <div class="color-line-wood text-left bar-size-sm"><hr></div>
              <h4 class="txt-md txt-heavy no-margin-top">workshops</h4>

              <% if @user.bookings == nil %>
                <div class="dash_item">
                  <p class="txt-light">No workshop</p>
                </div>
              <% else %>
                <% @user.workshops.each do |wksp| %>
                  <div class="dash_item">
                    <!-- workshops card  -->
                    <div class="row">
                      <div class="col-xs-5 col-sm-5">
                      <!-- photo  -->
                        <div class="image-card padded-top-xs padded-bottom-xs">
                          <%= cl_image_tag wksp.photos.first.path, height: 160, width: 278, crop: :fill %>
                            <p class="flex-card-1 txt-gras"><%= wksp.craftman.first_name %> </p>
                            <p class="flex-card-2 txt-gras"><%= wksp.craftman.last_name %></p>
                            <div class="image-card-filter"></div>
                        </div>

                      </div>


                      <div class="col-xs-5 col-sm-5">
                      <!-- infos in the middle  -->
                        <h2 class="card-title txt-description padded-top-xs padded-bottom-xs roboto"><%= wksp.title %></h2>
                        <p class="txt-sm padded-sm roboto"><%= truncate(wksp.description, length: 140, separator: '.') %></p>
                        <div class="row">
                          <div class="col-xs-4 col-sm-4">
                            <div class="upper-line"><hr></div>
                            <h6 class="txt-light roboto">Price</h6>
                            <div class="upper-line"><hr></div>
                            <h6 class="txt-light roboto">Where</h6>
                          </div>
                          <div class="col-xs-8 col-sm-8">
                            <div class="upper-line-left"><hr></div>
                            <h6 class="txt-light roboto"><%= humanized_money_with_symbol(wksp.price)%>/day</h6>
                            <div class="upper-line-left"><hr></div>

                            <h6 class="txt-light roboto"><%= wksp.craftman.locality %></h6>

                          </div>
                        </div>
                      </div>

                      <div class="col-xs-2 col-sm-2 text-center">
                      <!-- buttons  -->
                        <%= link_to "details", workshop_path(wksp), class: "btn btn-sm btn-default margin-btn" %>

                        <%= link_to "modify", workshop_path(wksp), class: "btn btn-sm btn-default margin-btn" %>

                        <a href="#" class="btn btn-sm btn-default margin-btn" >contact</a>
                      </div>

                    </div>
                  </div>

                <% end %>
              <% end %>

            </div>
          </div>


        </div>

  </div>
</div>
