<!-- black header  -->
<div class="title banner-bk-gray-small">
   <div class="row">
     <div class="col-xs-12 col-xs-offset-1">
       <h1 class="padded-md-ds">Hello <%= @user.first_name %></h1>
     </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <!-- first row w/ profil pic and notifs + messages + quotations -->

        <div class="col-xs-12 col-sm-6 padded-top-md margin-verti-fat">

            <div class="text-center dashboard-pictures">
            <!-- profil pic bloc  -->
              <%= image_tag 'marbre.jpg', height: 150, width: 150, crop: :fill, class: "marble" %>
               <% if current_user.avatar? %>
                <%= cl_image_tag current_user.avatar.path, height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% elsif current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url,height: 150, width: 150, crop: :fill, class: "profil-pic"%>
               <% else %>
                <%= image_tag "loic.png", height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% end %>
            </div>

            <!-- usernames  -->
            <div class="txt-md txt-light text-center padded-top">
              <h3><%= @user.first_name %></h3>
            </div>

            <div class="txt-md txt-light text-center">
              <h3><%= @user.last_name %></h3>
            </div>
             <!-- button -->
            <div class="text-center">
               <%= link_to "Edit profile", edit_profile_path, class: "btn btn-default margin-md" %>
            </div>

            <!-- tabs -->
            <div class="tab margin-bottom-md margin-verti-fat">
                <ul class="tabs text-center">
                    <div class="row">
                      <li class="col-xs-12 col-md-4"><a href="#">Past Workshops</a></li>
                      <li class="col-xs-12 col-md-4"><a href="#">Workshops to come</a></li>
                    </div>
                </ul>
            </div>

            <!-- card -->
            <!-- <div class="tab_content">
             <div class="class tabs-item"> -->

              <% @user.workshops.each do |wksp| %>
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="card-index">
                      <div class="card-img">
                        <%= cl_image_tag wksp.photos.first, height: 150, width: 358, crop: :fill, style: "background: rgba(0,36,61,0.6)" %>
                        <div class="col-xs-12 text-center craftman-name">
                          <p class="white"><%= wksp.craftman.first_name %></p>
                          <p class="white"><%= wksp.craftman.last_name %></p>
                        </div>
                      </div>
                      <div class="card-block">
                        <h2 class="card-title"><%= wksp.title %></h2>
                        <p class="card-text"><%= truncate(wksp.description, length: 80, separator: '.') %>
                        </p>
                      <div>
                       <div class="row">
                        <div class="col-md-3">
                          <div class="upper-line"><hr></div>
                          <h6 class="txt-regular">Where</h6>
                        </div>
                        <div class="col-md-9">
                          <div class="upper-line-left"><hr></div>
                          <h6 class="txt-light"><%= wksp.craftman.address %></h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                            <div class="upper-line"><hr></div>
                            <h6 class="txt-regular">Price</h6>
                          </div>
                          <div class="col-md-9">
                            <div class="upper-line-left"><hr></div>
                            <h6 class="txt-light"><%= humanized_money_with_symbol(wksp.price)%>/day</h6>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <%= link_to "DETAILS", workshop_path(wksp), class: "btn btn-lg btn-default" %>
                      </div>

                     </div>
                    </div>
                  </div>
                </div>
              <% end %>

        </div>

      <!-- notifs + messages + quots  -->
        <div class="col-xs-12 col-sm-6 padded-top-md ">

          <div class="color-line-wood text-left bar-size-lg"><hr></div>
          <h4 class="txt-md txt-heavy no-margin-top">notifications</h4>
          <p class="txt-light">Vérifiez votre pièce d'identité</p>
          <p class="txt-light">Notez votre dernière location</p>
          <hr>

          <!-- messages  -->
          <div class="color-line-wood text-left bar-size-sm"><hr></div>
          <h4 class="txt-md txt-heavy no-margin-top">messages</h4>

          <div class="quotation_item">
           <% if @threads == nil %>
              <% @threads.each do |(workshop, user), message| %>
              <p>
              <%= link_to "#{workshop.title} with #{workshop.craftman.first_name}", workshop_messages_path(workshop) %>
              </p>
              <% end %>
           <% else %>
              <p class="txt-light">No conversation yet</p>
           <% end %>
          </div>

          <!-- quotations  -->
          <div class="color-line-wood text-left bar-size-sm"><hr></div>
          <h4 class="txt-md txt-heavy no-margin-top">quotations</h4>

          <div class="quotation_item">
           <% if @user.bookings != nil %>
              <% @user.bookings.each_with_index do |booking, index| %>
              <p>
              <%= link_to "Quotation ##{index + 1} - #{booking.workshop.title} - by #{booking.workshop.craftman.first_name} - #{booking.status}", edit_booking_path(booking) %>
              </p>
              <% end %>
           <% else %>
              <p class="txt-light">No quotation yet</p>
           <% end %>
          </div>

        </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/tabs.js"></script>

