<!-- black header  -->
<div class="title banner-bk-gray-small">
   <div class="row">
     <div class="col-xs-12 col-xs-offset-1">
       <h1 class="padded-md-ds">Hello <%= @user.first_name %></h1>
     </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <!-- first row w/ profil pic and notifs + messages + quotations -->

        <div class="col-xs-12 col-sm-6 padded-top-md ">

            <div class="text-center dashboard-pictures">
            <!-- profil pic bloc  -->
              <%= image_tag 'marbre.jpg', height: 150, width: 150, crop: :fill, class: "marble" %>
               <% if current_user.avatar? %>
                <%= cl_image_tag current_user.avatar.path, height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% elsif current_user.facebook_picture_url %>
                <%= image_tag current_user.facebook_picture_url,height: 150, width: 150, crop: :fill, class: "profil-pic"%>
               <% else %>
                <%= image_tag "loic.png", height: 150, width: 150, crop: :fill, class: "profil-pic" %>
               <% end %>
            </div>

            <!-- usernames  -->
            <div class="txt-md txt-light text-center padded-top">
              <h3><%= @user.first_name %></h3>
            </div>

            <div class="txt-md txt-light text-center">
              <h3><%= @user.last_name %></h3>
            </div>
             <!-- button -->
            <div class="text-center">
               <%= link_to "Edit profile", edit_profile_path, class: "btn btn-default margin-md" %>
            </div>



        <!-- workshops tabs  -->

            <div class="row">
              <div class="col-xs-12 col-sm-12 padded-top-md">

                <div class="color-line-wood text-left bar-size-sm"><hr></div>
                <h4 class="txt-md txt-heavy no-margin-top">workshops</h4>

                <% if @user.bookings == nil %>
                  <div class="dash_item">
                    <p class="txt-light">No workshop</p>
                  </div>
                <% else %>
                  <% @user.workshops.each do |wksp| %>
                    <div class="dash_item">
                      <!-- workshops card  -->
                      <div class="row">
                        <div class="col-xs-4 col-sm-4">
                        <!-- photo  -->
                          <div class="image-card padded-top-xs padded-bottom-xs">
                            <%= cl_image_tag wksp.photos.first, height: 120, width: 110, crop: :fill, style: "background: rgba(0,36,61,0.6)" %>
                          </div>
                          <p class="text-in-card text-center"><%= wksp.craftman.first_name %> </p>
                          <p class="text-in-card text-center"><br><%= wksp.craftman.last_name %></p>
                        </div>


                        <div class="col-xs-5 col-sm-5">
                        <!-- infos in the middle  -->
                          <h2 class="card-title txt-description padded-top-xs padded-bottom-xs"><%= wksp.title %></h2>
                          <p class="txt-sm"><%= truncate(wksp.description, length: 120, separator: '.') %></p>
                          <div class="row">
                            <div class="col-xs-4 col-sm-4">
                              <div class="upper-line"><hr></div>
                              <h6 class="txt-sm">Price</h6>
                              <div class="upper-line"><hr></div>
                              <h6 class="txt-sm">Where</h6>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                              <div class="upper-line-left"><hr></div>
                              <h6 class="txt-light"><%= humanized_money_with_symbol(wksp.price)%>/day</h6>
                              <div class="upper-line-left"><hr></div>
                              <h6 class="txt-light"><%= wksp.craftman.city %></h6>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-3 col-sm-3 text-center">
                        <!-- buttons  -->
                          <%= link_to "details", workshop_path(wksp), class: "btn btn-sm btn-default margin-sm" %>

                          <%= link_to "modify", workshop_path(wksp), class: "btn btn-sm btn-default margin-sm" %>

                          <a href="#" class="btn btn-sm btn-default margin-sm" >contact</a>
                        </div>

                      </div>
                    </div>

                  <% end %>
                <% end %>

              </div>
            </div>

        </div>


      <!-- notifs + messages + quots  -->

        <div class="col-xs-12 col-sm-6">

          <div class="container-notif">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                  <div class="color-line-wood text-left bar-size-lg"><hr></div>
                  <h4 class="txt-md txt-heavy no-margin-top">notifications</h4>
                  <p class="txt-light">Vérifiez votre pièce d'identité</p>
                  <p class="txt-light">Notez votre dernière location</p>
                  <hr>
              </div>
            </div>
          </div>

          <!-- messages  -->
          <div class="container-mess">
            <div class="row">
              <div class="col-xs-12 col-sm-12 quotation-text">

                <div class="color-line-wood text-left bar-size-sm"><hr></div>
                <h4 class="txt-md txt-heavy no-margin-top">messages</h4>

                 <% if @threads == nil %>
                    <div class="quotation_item">

                      <p class="txt-light">No conversation yet</p>

                 <% else %>
                    <% @threads.each do |(workshop, user), message| %>
                    <div class="dash_item">
                      <p>
                      <%= link_to "#{workshop.title} with #{workshop.craftman.first_name}", workshop_messages_path(workshop) %>
                      </p>
                    </div>
                    <% end %>
                 <% end %>
              </div>
            </div>
          </div>

          <!-- quotations  -->
          <div class="container-quotation">
            <div class="row">
              <div class="col-xs-12 col-sm-12">

                <div class="color-line-wood text-left bar-size-sm"><hr></div>
                <h4 class="txt-md txt-heavy no-margin-top">quotations</h4>

                   <% if @user.bookings != nil %>

                      <% @user.bookings.all.each_with_index do |booking, index| %>
                        <%= link_to edit_booking_path(booking) do %>
                        <div class="dash_item padded-sm quotation-text btn btn-default">
                          <div class="row">

                            <div class="col-xs-1">
                              <%= "##{index + 1}" %>
                            </div>

                            <div class="col-xs-8">
                              <%= "#{booking.workshop.title}, from #{booking.workshop.craftman.first_name}"
                              %>
                            </div>

                            <div class="col-xs-2 quotation-text text-right no-padding">
                              <% if booking.status == "submitted" %>
                                <p>pending</p>
                              <% elsif booking.status == "accepted" %>
                                <p>accepted</p>
                              <% else %>
                                <p>rejected</p>
                              <% end %>
                            </div>

                            <div class="col-xs-1">
                              <% if booking.status == "submitted" %>
                                <div class="orange-circle"></div>
                              <% elsif booking.status == "accepted" %>
                                <div class="green-circle"></div>
                              <% else %>
                                <div class="red-circle"></div>
                              <% end %>
                            </div>

                          </div>

                        </div>
                        <% end %>
                      <% end %>
                   <% else %>
                     <div class="dash_item text-center">
                       <p class="txt-light">No quotation yet</p>
                     </div>
                   <% end %>
              </div>
            </div>
          </div>

        </div>

  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/tabs.js"></script>

