<!-- BANNER -->
<%= render 'shared/universe_photo' %>

<div class="container-fuid">
  <!-- photo de la banner -->
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-bk-gray position banner-height-lg">

        <div class="row">
          <div class="col-xs-12 col-xs-offset-2 col-sm-offset-2 col-md-6">
            <h1><%= @universe.name.upcase %></h1>
          </div>
          <div class="col-xs-12 col-xs-offset-2 col-md-6 col-md-offset-6">
            <h5>
            <!-- @universe.slug -->
              Wood is a soft and living material rich in a multitude of essences. A natural product that must dry slowly before being shaped.
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-offset-3 col-lg-offset-3">
            <div class="details-photo universe">
              <!-- photo -->
              <%= image_tag @universe.banner_bottom.fullpath %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->

<!-- INSPIRATION PAR UNIVERSE (petit-text + photo) -->
<div class="container-fluid">
  <div class="row">

      <div class="col-xs-12 col-sm-offset-2 col-md-3 col-md-offset-2 ">
        <div class="universe-presentation margin-lg">
        <h4>
          “There is a magical, contemplative feeling
          in the forest. We encourage people to visit,
          to take this journey, and over the decades,
          watch the forest grow and change. Year by
          year, the writers' words forming invisible
          chapters in the trees whose narratives will
          be reconstituted a century later.”
        </h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-md-4 col-md-offset-2">
        <div class="universe <%= @universe.code %> border margin-lg">
          <%= cl_image_tag @universe.middle_gallery.last.path, :gravity=>"xy_center", :height=>400, :width=>300, :x=>250, :y=>200, :crop=>"crop" %>
        </div>
      </div>

  </div>
</div>
<!-- END -->

<!-- 4 PHOTOS DE PRESENATION PAR UNIVERS -->
<div class="container-fluid">
  <div class="row">

  </div>
</div>
<!-- END -->

<div class="container-fluid">
  <div class="row">
    <div class="universe-desciption">
      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <p class="text-left universe-text-top">
          Since prehistoric times, wood has allowed the man to make fire, to build shelters or to make tools and weapons. Some of the most important inventions of the civilized world - the wheel, the printing press and the first computer, the abacus - were first made of wood. Nowadays, the uses of this material remain as varied as in the past.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-5">
        <p class="text-left universe-text-bottom">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- BUTTON BY UNIVERSE -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center universe <%= @universe.code %> button">
        <%= link_to "Explore our #{@universe.name.downcase} workshops", universe_workshops_path(@universe), class: "btn-wood"  %>
      </div>
    </div>
  </div>
</div>

<!-- JOBS -->
<div class="container-fluid">
  <div class="row">
    <div class="universe <%= @universe.code %> job padded">
      <div class="col-xs-11 col-xs-offset-1">
        <div class="universe <%= @universe.code %> surligned">
        </div>
        <h2><%= @universe.name %></h2>
        <h2 class="padding-left-xl">jobs</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="jobs">
      <% @universe.jobs.each do |job| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-job">
            <%= cl_image_tag job.image.path, gravity: "xy_center", height: 370, width: 300, x:280, y: 327, crop: :crop %>
            <h3 class="text-center">
              <%= job.name %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- CRAFTMEN -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <div class="universe <%= @universe.code %> job padded">
        <div class="universe <%= @universe.code %> surligned">
        </div>
        <h2>Meet ours</h2>
        <h2 class="padding-left-xl">craftmen</h2>
      </div>
    </div>
  </div>
</div>

<!-- Artisan #1 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded universe craftman">
      <div class="col-xs-6 col-md-3 col-md-offset-1  ">
        <div class="presentation-pic">
          <div class="name">
            <!-- introduire en ruby first_name et last_name du craftman -->
            <h3>MAT JOHNSON</h3>
          </div>
          <div>
            <!-- photo du craftman -->
            <%= image_tag 'http://placehold.it/220x220' %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-8">
        <div>
          <div class="craftman-presentation one">
            <!-- description -->
            <p>Chaque arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur</p>
          </div>
          <div class="left-surlign <%= @universe.code %> craftman-presentation two">
            <!-- suite text de la description -->
            Révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur. Arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Artisan #2 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded universe craftman">
      <div class="col-xs-6 col-md-4 col-md-offset-1">
        <div>
          <div class="craftman-presentation three">
            <!-- texte de présentation -->
            <p>Chaque arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur</p>
          </div>
          <div class="craftman-presentation four">
            <!-- suite text de présentation -->
            Révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur. Arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur.
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="presentation-pic">
          <div>
            <!-- photo du craftman -->
            <%= image_tag 'http://placehold.it/220x220' %>
          </div>
          <div class=" name bottom-surlign <%= @universe.code %>">
            <!-- introduire en ruby le nom du craftman -->
            <h3>MAT JOHNSON</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Artisan #3 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded universe craftman">
      <div class="col-xs-6 col-md-3 col-md-offset-1  ">
        <div class="presentation-pic">
          <div class="name">
            <!-- introduire en ruby le nom du craftman -->
            <h3>MAT JOHNSON</h3>
          </div>
          <div>
            <!-- photo du craftman -->
            <%= image_tag 'http://placehold.it/220x220' %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-8">
        <div>
          <div class="craftman-presentation one">
            <!-- texte de présentation -->
            <p>Chaque arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur</p>
          </div>
          <div class="left-surlign <%= @universe.code %> craftman-presentation two">
            <!-- suite text de présentation -->
            Révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur. Arbre révèle les méandres de ses veines et les secrets de son cœur pour mon plus grand bonheur.
          </div>
        </div>
      </div>
    </div>
  </div>
