<!-- BANNER -->
<%= render 'shared/universe_photo' %>

<div class="container-fuid">
  <!-- photo de la banner -->
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-bk-gray position banner-height-lg">

        <div class="row">
          <div class="col-xs-12 col-xs-offset-2 col-sm-offset-2 col-md-6">
            <h1><%= @universe.name.upcase %></h1>
          </div>
          <div class="col-xs-12 col-xs-offset-1 col-md-6 col-md-offset-6">
            <h5>
            <!-- @universe.slug -->
              <%= @universe.description %>
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="universe adaptation">
              <!-- photo -->
              <%= cl_image_tag @universe.banner_bottom.path, :height=>350, :width=>600, crop: :crop %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->

<!-- INSPIRATION PAR UNIVERSE (petit-text + photo) -->
<div class="container-fluid">
  <div class="row">

      <div class="col-xs-12 col-sm-offset-2 col-md-3 col-md-offset-2 ">
        <div class="universe-presentation margin-lg">
        <h4>
          <%= @universe.second_description %>
        </h4>
        </div>
      </div>
      <div class="col-xs-12 col-xs-offset-1 col-sm-offset-2 col-md-4 col-md-offset-2">
        <div class="universe <%= @universe.code %> border margin-lg">
          <%= cl_image_tag @universe.middle_gallery.last.path, :gravity=>"xy_center", :height=>300, :width=>300, :x=>250, :y=>200, :crop=>"crop" %>
        </div>
      </div>

  </div>
</div>
<!-- END -->

<!-- 4 PHOTOS DE PRESENATION PAR UNIVERS -->
<div class="container-fluid">
  <div class="row">

  </div>
</div>
<!-- END -->

<div class="container-fluid">
  <div class="row">
    <div class="universe-desciption">
      <div class="col-xs-12 col-md-6 col-md-offset-2">
        <p class="text-left universe-text-top txt-light">
          <%= @universe.third_description %>
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-5">
        <p class="text-left universe-text-bottom txt-light">
          <%= @universe.fourth_description %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- BUTTON BY UNIVERSE -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center universe <%= @universe.code %> button">
        <%= link_to "Explore our #{@universe.name.downcase} workshops", universe_workshops_path(@universe), class: "btn-wood"  %>
      </div>
    </div>
  </div>
</div>

<!-- JOBS -->
<div class="container-fluid">
  <div class="row">
    <div class="universe <%= @universe.code %> job">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="color-line-title-<%= @universe.code %> padded-top-lg">
          <hr>
        </div>
        <h2 class="padded-bottom-lg"><%= @universe.name %> jobs</h2>
        <!-- <h2 class="padding-left-xl">jobs</h2> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="jobs">
      <% @universe.jobs.each do |job| %>
        <div class="col-xs-12 col-sm-4">
          <!-- ajouter l'ancre -->
          <%= link_to universe_workshops_path(@universe, anchor: job.name) do  %>
            <div class="card-job" style="background-image: url(<%= job_card_background_path(job) %>">
              <h3 class="text-center">
                <%= job.name %>
              </h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- CRAFTMEN -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="universe <%= @universe.code %>">
        <div class="color-line-title-<%= @universe.code %> padded-top-lg">
          <hr>
        </div>
        <h2 class="padded-bottom-lg">Meet ours craftsman</h2>
        <!-- <h2 class="padding-left-xl">craftmen</h2> -->
      </div>
    </div>
  </div>
</div>

<!-- Artisan #1 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded-top-md universe craftman">

      <div class="col-xs-12 col-md-4 col-md-offset-2  ">
        <div class="presentation-pic">
          <div class="name-one">
            <!-- introduire en ruby first_name et last_name du craftman -->
            <h3><%= @first_craftman.first_name %></h3>
            <h3><%= @first_craftman.last_name %></h3>
          </div>
          <div class="picture-one">
            <!-- photo du craftman -->
            <%= cl_image_tag craftman_avatar(@first_craftman), width: 220, height: 220, crop: :full %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="padded-top-btstrap padded-top-xl-sm-min">
          <div class="craftman-presentation one padding-left-xs txt-light">
            <!-- description -->
            <p><%= @first_craftman.description %></p>
          </div>
          <div class="left-surlign <%= @universe.code %> craftman-presentation two padding-left-xs txt-light">
            <!-- suite text de la description -->
            <%= @first_craftman.second_description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Artisan #2 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded-top-xl padding-top-xs-min-medium universe craftman">
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div>
          <div class="craftman-presentation three txt-light">
            <!-- texte de présentation -->
            <p><%= @second_craftman.description %></p>
          </div>
          <div class="craftman-presentation four txt-light">
            <!-- suite text de présentation -->
            <%= @second_craftman.second_description %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="presentation-pic">
          <div class="picture-two">
            <!-- photo du craftman -->
            <%= cl_image_tag craftman_avatar(@second_craftman), width: 220, height: 220, crop: :fill %>
          </div>
          <div class=" name-two bottom-surlign <%= @universe.code %>">
            <!-- introduire en ruby le nom du craftman -->
            <h3><%= @second_craftman.first_name %></h3>
            <h3><%= @second_craftman.last_name %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Artisan #3 -->
<div class="container-fluid">
  <div class="row">
    <div class="padded-top-ld universe craftman padding-top-xs-min">
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div class="presentation-pic">
          <div class="name-three">
            <!-- introduire en ruby le nom du craftman -->
            <h3><%= @third_craftman.first_name %></h3>
            <h3><%= @third_craftman.last_name %></h3>
          </div>
          <div class="picture-one">
            <!-- photo du craftman -->
            <%= cl_image_tag craftman_avatar(@third_craftman), width: 240, height: 240, crop: :fill %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="padded-top-btstrap padded-top-xl-sm-min">
          <div class="craftman-presentation one padding-left-xs paddind-top-xs-min-small txt-light">
            <!-- texte de présentation -->
            <p><%= @third_craftman.description %></p>
          </div>
          <div class="left-surlign <%= @universe.code %> craftman-presentation two padding-left-xs txt-light">
            <!-- suite text de présentation -->
            <%= @third_craftman.second_description %>
          </div>
        </div>
      </div>
    </div>
  </div>
