<div class="padded-md" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(55, 101, 132, 0.4) 80%);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="background-form">
          <h1 class="text-center">Your Craftman Profile</h1>
          <%= simple_form_for @craftman, url: craftmen_edit_profile_path do |f| %>
            <%= f.error_notification %>

            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :address, placeholder: "Start typing your address", input_html: {id: "user_input_autocomplete_address"} %>
            <%= f.input :city %>
            <%= f.input :phone %>
            <%= f.input :job, collection: Job::JOBS, prompt: "Select your job" %>
            <%= f.input :birth_date %>
            <%= f.input :description %>
            <%= f.input :avatar, as: :attachinary %>

            <%= f.button :submit, class: "btn btn-default btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

